<% provide(:title, 'Facebook Post Success Page') %>
<div class="container">
	<img width="400" src="<%= image_path('causebutton-white-on-teal.svg') %>" style="margin: 30px auto; display: block;">
	<div style="text-align:center;">Thanks for posting to Facebook!</div>
</div><!-- /.container -->