.cbw-reset {
}
.cbw-reset article, .cbw-reset aside, .cbw-reset details, .cbw-reset figcaption, .cbw-reset figure, .cbw-reset footer, .cbw-reset header, .cbw-reset hgroup, .cbw-reset menu, .cbw-reset nav, .cbw-reset section {
    display: block !important;
}
.cbw-reset body {
    line-height: 1 !important;
}
.cbw-reset ol, .cbw-reset ul {
    list-style: none outside none !important;
}
.cbw-reset blockquote, .cbw-reset q {
    quotes: none !important;
}
.cbw-reset blockquote:before, .cbw-reset blockquote:after, .cbw-reset q:before, .cbw-reset q:after {
    content: none !important;
}
.cbw-reset table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}
