<% provide(:title, 'Show Serve') %>
<h1>Show Serve</h1>

<div class="container">
	<ul class="class-index">
      	<%= render @serve %>
	</ul>
	<br/>
	<%= link_to 'Edit Serve', edit_serve_path %><br/>
	<%= go_back %>
</div>