<li>
	<% @editpath = edit_user_path(user) %><br/>
  	<b>Name: </b><%= link_to user.email, @editpath %><br/>
	<b>Roles: </b><% for role in user.roles %>
		<%= link_to role.name, @editpath %>
	<% end %><br/>
  	<b>Actions: </b><%= link_to "edit", @editpath %>
</li>