<li>
	<% if ["index_admin"].include?params[:action] %>
			<% @showpath = donation_admin_path(donation) %>
		<% else %>
			<% @showpath = donation_path(donation) %>
	<% end %>
	<div class="row">
	<div class="span2"><%= link_to donation.merchant.name, @showpath %></div>
	<div class="span3"><%= link_to donation.cause.name, @showpath %></div>
	<div class="span3"><%= link_to donation.created_at.to_formatted_s(:long), @showpath %></div>
	<div class="span1">$<%= link_to donation.amount, @showpath %></div>
	</div>
</li>