<li>
	<% if ["index_admin"].include?params[:action] %>
			<% @showpath = merchant_admin_path(merchant) %>
		<% else %>
			<% @showpath = merchant_path(merchant) %>
	<% end %>
	<div class="row">
	<div class="span3"><%= link_to merchant.name, @showpath %></div>
	<div class="span3"><%= link_to merchant.website, @showpath %></div>
	<div class="span3"><%= link_to merchant.button.name, @showpath %></div>
	</div>
</li>