<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>
      Your<% if @donation.chosen_by != "supporter" %> purchase <% end %><% if @donation.chosen_by == "merchant" %>or<% end %><% if @donation.chosen_by != "buyer" %> promotional support <% end %>just caused <%= @donation.merchant.name %> to make a donation to <%= @donation.cause.name %> in the amount of $<%= @donation.amount %> on your behalf.<br/>
    </p>
    <p>
      To learn more about CauseButton, go to <%= @url %>.
    </p>
  </body>
</html>