<% provide(:title, 'All Promotions') %>
<h1>All Promotions (<%= @promotions.count %>)</h1>

<div class="container">
	<%= will_paginate %>
	<ul class="class-index">
      	<%= render @promotions %>
	</ul>
	<%= will_paginate %>
</div>