<footer class="footer">
  <div class="container">
    <div class="row">
      <small style="width:100%;text-align:center;">
        <span>Copyright 2013-2014 CauseButton LLC &#124; All rights reserved &#124; Powered by Passion &#124; The emotion, not the fruit</span>
      </small>
    </div>
  </div>
</footer>